.buttonMain {
    font-weight: 900;
    font-style: bold;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;

}
.buttonMain:hover{
    cursor: pointer;
    background-color: #FED766;
}