.loadinglg-container {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161214;
}
.loadingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loadingContent > div {
    height: 100px;
    
}
.loadingContent > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loadingContent >  .error {
    color: rgb(151, 14, 14);
}