.App {
  box-sizing: border-box;
  background-color: #161214;
  color: white;
  font-weight: 500;
  border: solid #0b090a 0.5px;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.App > div {
  height: 100%;
}
.fadeInAnimation {
  animation-name: fadeInAnim;
  animation-duration: 3.0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnim {
  0% {
      opacity: 0.0;
  }
  100% {
      opacity: 1.0;
  }
}