.App {
  box-sizing: border-box;
  background-color: #161214;
  color: white;
  font-weight: 500;
  border: solid #0b090a 0.5px;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.App > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.App > div  > .smallModalSave {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App > div  > .smallModalSave > .smModalContainer {
  
  height: 180px;
  width: 400px;
  background-color: #161214;
  border: solid 0.5px black;
  box-shadow: 5px -2px 5px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}
.App > div  > .smallModalSave > .smModalContainer > h2{
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 2px 0px 2px 0px;
}
.App > div  > .smallModalSave > .smModalContainer > hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #FED766;
}
.App > div  > .smallModalSave > .smModalContainer > p {
  color: #ccc;
  padding: 0px 10px 0px 10px;
} 
.App > div  > .smallModalSave > .smModalContainer > span {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
}
.App > div  > .smallModalSave > .smModalContainer > span:hover {
  color: #FED766;
  cursor: pointer;
}
.fadeInAnimation {
  animation-name: fadeInAnim;
  animation-duration: 3.0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnim {
  0% {
      opacity: 0.0;
  }
  100% {
      opacity: 1.0;
  }
}